*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 50px;
}
ul li{
	display: inline-block;
	padding: 1px;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	transition: 0.6s;
	margin-top: 10px;
}
ul li a:hover{
	padding: 5px 20px;
	background-color: white;
	color: black;
}
ul li .drop2{
	display: none;
}
ul li:hover .drop2{
	margin-top: 1px;
	display: block;
	padding: 10px;
	position: absolute;
	background color: white;
	color: black;
}
ul li:hover .drop2 li{
	margin-top: 5px;
	display: block;
}
ul li.active a{
	background-color: white;
	color: black;
}
.logo img{
	float: left;
	margin-top: 20px;
	width: 150px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
h1{
	position: absolute;
	top: 20%;
	left: 35%;
	transform: translate(-50%;-50%);
	font-family: monospace;
	color: white;
	font-size: 50px;
}
.profile{
	position: absolute;
	margin-top: 15%;
	margin-left: 8%;
	width: 1100px; 
	height: auto;
	padding: 30px;
	background: rgba(255,255,255,0.7);
	border-radius: 5px;
}
.galeri li img{
	width: 150px;
	height: 150px;
	margin: auto;
	border-radius: 50%;
	border: 5px solid #666;
	float: right;
	margin-right: 1px;
}
.galeri li span{
	display: block;
	width: 150px;
	height: 150px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	text-align: center;
	margin-top: 5px;
	margin-left: 45.2px;
	font-family: cursive;
	line-height: 120px;
	color: white;
	text-shadow: 1px 1px 1px #ddd;
	opacity: 0;
	transform: scale(0) rotate(0);
	transition: 0.3s;
	border-radius: 50%;
}
.galeri li a:hover span{
	opacity: 1;
	transform: scale(1) rotate(360deg);
}
.clear{
	clear: both;
}
h2{
	position: absolute;
	top: 135%;
	left: 30%;
	transform: translate(-50%;-50%);
	font-family: monospace;
	color: white;
	font-size: 50px;
}
.profile1{
	position: absolute;
	margin-top: 72%;
	margin-left: 20%;
	width: 700px; 
	height: auto;
	padding: 30px;
	background: rgba(255,255,255,0.7);
	border-radius: 5px;
}
.galeri1 li img{
	width: 150px;
	height: 150px;
	margin: auto;
	border-radius: 50%;
	border: 5px solid #666;
	float: right;
	margin-right: 1px;
}
.galeri1 li span{
	display: block;
	width: 150px;
	height: 150px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	text-align: center;
	margin-top: 5px;
	margin-left: 45.2px;
	font-family: cursive;
	line-height: 120px;
	color: white;
	text-shadow: 1px 1px 1px #ddd;
	opacity: 0;
	transform: scale(0) rotate(0);
	transition: 0.3s;
	border-radius: 50%;
}
.galeri1 li a:hover span{
	opacity: 1;
	transform: scale(1) rotate(360deg);
}