@media(min-width: 670px) and (max-width: 1024px){
	.main{
		width: 90%;
	}
	.logo{
		width: 70%;
		margin: 0-auto;
		align-items: left;
		float: none;
	}
	.logo img{
		width: 150px;
		height: 150px;
		float: none;
		display: flex;
		margin: 20px;
		margin-left: 55%;
	}
	ul{
		float: none;
		list-style-type: none;
		margin-top: 5%;
		margin-left: 8%;
	}
	ul li{
		display: inline-block;
		padding: 1px;
		font-size: 20px;
	}
	h1{
		top: 45%;
		left: 30%;
		transform: translate(-50%;-50%);
		font-size: 30px;
	}
	.profile{
		position: absolute;
		margin-top: 20%;
		margin-left: 8%;
		width: 500px; 
		height: auto;
		padding: 30px;
		background: rgba(255,255,255,0.7);
		border-radius: 5px;
	}
	.galeri li img{
		width: 	80px;
		height: 80px;
		margin: auto;
		border-radius: 50%;
		border: 5px solid #666;
		float: none;
	}
	.galeri li span{
		display: block;
		width: 80px;
		height: 80px;
		background-color: rgba(0,0,0,0.5);
		position: absolute;
		text-align: center;
		margin-top: -90px;
		margin-left: 25px;
		font-family: cursive;
		line-height: 120px;
		color: white;
		text-shadow: 1px 1px 1px #ddd;
		opacity: 0;
		transform: scale(0) rotate(0);
		transition: 0.3s;
		border-radius: 50%;
	}
	.galeri li a:hover span{
		opacity: 1;
		transform: scale(1) rotate(360deg);
	}
	.clear{
		clear: both;
	}
	h2{
		position: absolute;
		top: 145%;
		left: 30%;
		transform: translate(-50%;-50%);
		font-family: monospace;
		color: white;
		font-size: 25px;
	}
	.profile1{
		position: absolute;
		margin-top: 110%;
		margin-left: 8%;
		width: 500px; 
		height: auto;
		padding: 30px;
		background: rgba(255,255,255,0.7);
		border-radius: 5px;
	}
	.galeri1 li img{
		width: 80px;
		height: 80px;
		margin: auto;
		border-radius: 50%;
		border: 5px solid #666;
		float: none;
		margin-right: 1px;
	}
	.galeri1 li span{
		display: block;
		width: 80px;
		height: 80px;
		background-color: rgba(0,0,0,0.5);
		position: absolute;
		text-align: center;
		margin-top: 5px;
		margin-left: 45px;
		font-family: cursive;
		line-height: 120px;
		color: white;
		text-shadow: 1px 1px 1px #ddd;
		opacity: 0;
		transform: scale(0) rotate(0);
		transition: 0.3s;
		border-radius: 50%;
	}
	.galeri1 li a:hover span{
		opacity: 1;
		transform: scale(1) rotate(360deg);
	}
}
@media(min-width: 370px) and (max-width: 670px){
	.main{
		width: 100%;
		margin: 0;
	}
	.logo img{
		width: 150px;
		height: 150px;
		float: none;
		display: block;
		margin: 0 auto;
		margin-top: 20%;
	}
	ul{
		float: none;
		margin-top: 5%;
		margin-left: 17%;
	}
	ul li{
		display: inline-block;
		margin-top: 5%;
		font-size: 15px;
	}
	h1{
		top: 65%;
		left: 23%;
		transform: translate(-50%;-50%);
		font-size: 25px;
	}
	.profile{
		float: none;
		display: block;
		margin-top: 40%;
		margin-left: 15%;
		width: 210px; 
		height: auto;
	}
	.galeri li img{
		float: left;
		width: 	30px;
		height: 30px;
		margin: 0 auto;
	}
	.galeri li span{
		display: block;
		width: 30px;
		height: 30px;
		text-align: center;
		font-size: 10px;
		margin-top: 5px;
		margin-left: 5px;
		line-height: 50px;
	}
	.galeri li a:hover span{
		opacity: 1;
		transform: scale(1) rotate(360deg);
	}
	.clear{
		clear: both;
	}
	h2{
		position: absolute;
		top: 130%;
		left: 20%;
		transform: translate(-50%;-50%);
		font-family: monospace;
		color: white;
		font-size: 25px;
	}
	.profile1{
		margin-top: 160%;
		margin-left: 17%;
		width: 210px; 
		height: auto;
	}
	.galeri1 li img{
		width: 30px;
		height: 30px;
		margin: auto;
		border-radius: 50%;
		border: 5px solid #666;
		float: left;
		margin-right: 1px;
	}
	.galeri1 li span{
		display: block;
		width: 30px;
		height: 30px;
		text-align: center;
		font-size: 10px;
		margin-top: 5px;
		margin-left: 5px;
		line-height: 50px;
	}
	.galeri1 li a:hover span{
		opacity: 1;
		transform: scale(1) rotate(360deg);
	}
}